* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 70px;
  padding: 40px 50px;
  font-family: monospace;
  background-color: lightseagreen;
  color: white;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

button:active {
  scale: 0.9;
}
