* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
  padding: 50px;
}

h1 {
  font-size: 40px;
  color: white;
}

.box {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: royalblue;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
