* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 80px;
  font-family: monospace;
  color: black;
  font-weight: 800;
  -webkit-text-stroke: 2px white;
  position: relative;
  z-index: 10;
}

button {
  background-color: crimson;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

button:active {
  scale: 0.95;
}
