* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;

  section {
    background-position: center;
    background-size: cover;
    height: 100%;
    flex-grow: 1;
    background-color: rgb(112, 120, 194);
    border: 2px solid black;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
  }

  section:hover {
    flex-grow: 2;
  }

  section:nth-child(1) {
    background-image: url("https://i.pinimg.com/736x/f2/66/12/f266126731cd1f63270dff9b6c5dca5a.jpg");
  }

  section:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1623984109622-f9c970ba32fc?q=80&w=436&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }

  section:nth-child(3) {
    background-image: url("https://i.pinimg.com/736x/71/94/63/719463dd18d112a94dc24f5a7603cb92.jpg");
  }
  section:nth-child(4) {
    background-image: url("https://i.pinimg.com/736x/ed/6b/14/ed6b14af9af1990320505dd4d3f3d56b.jpg");
  }
  section:nth-child(5) {
    background-image: url("https://i.pinimg.com/736x/3f/88/4e/3f884e82151a6ef7885b5f041eac33c9.jpg");
  }
}
