* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  position: relative;
}

.card i {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  font-size: 50px;
  transform: translate(-50%, -50%) scale(0) rotate(-90deg);
  opacity: 0;

  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  transition: all cubic-bezier(0.74, 1.14, 0.83, 0.67) 0.2s;
}

.card div {
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
  /* object-position: center; */
}
