* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
  cursor: none;
}

main {
  width: 100%;
  height: 100%;
  /* background-color: #172227; */
}

#cursor {
  height: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
}
